In [4]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

In [3]:
datos = np.random.randn(5, 4) # datos normalmente distribuidos
datos

array([[ 0.2522196 ,  0.49520696, -1.20392437,  0.6681448 ],
       [-1.58982847, -0.91724746, -0.70508215,  1.27511882],
       [ 1.17066244, -0.66570778,  1.51598778,  0.34921633],
       [ 1.00382688, -0.66149751,  0.93398576,  2.8225142 ],
       [ 0.89094625,  0.58286567,  0.0228283 ,  1.38496434]])

In [5]:
# usando pandas
dataframe = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'], 
                        columns=['col1', 'col2', 'col3', 'col4'])
dataframe

       col1      col2      col3      col4
a  0.252220  0.495207 -1.203924  0.668145
b -1.589828 -0.917247 -0.705082  1.275119
c  1.170662 -0.665708  1.515988  0.349216
d  1.003827 -0.661498  0.933986  2.822514
e  0.890946  0.582866  0.022828  1.384964

In [6]:
# resumen estadistadistico con pandas
dataframe.describe()

           col1      col2      col3      col4
count  5.000000  5.000000  5.000000  5.000000
mean   0.345565 -0.233276  0.112759  1.299992
std    1.136441  0.713261  1.124063  0.952512
min   -1.589828 -0.917247 -1.203924  0.349216
25%    0.252220 -0.665708 -0.705082  0.668145
50%    0.890946 -0.661498  0.022828  1.275119
75%    1.003827  0.495207  0.933986  1.384964
max    1.170662  0.582866  1.515988  2.822514

In [7]:
import matplotlib.pyplot as plt # importando matplotlib
import seaborn as sns # importando seaborn

# parametros esteticos de seaborn
sns.set_palette("deep", desat=.6)
sns.set_context(rc={"figure.figsize": (8, 4)})

ModuleNotFoundError: No module named 'seaborn'

https://relopezbriega.github.io/blog/2015/06/27/probabilidad-y-estadistica-con-python/